.lang-choosing {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

.words-lang-choosing {
    float: right;
    clear: right;
    margin-left: 20px;
}

.page-header {
    margin-top: 15px;
}

.page-header h1 {
    max-width: 1200px;
    margin: 0 auto;
}

.words {
    margin: 10px 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

@media screen and (min-width: 1000px) {
    .words {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

.word {
    padding: 5px 0;
}

.word .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

.words-lang-ru,
.words-lang-en {
    display: none;
}

.ru .words-lang-ru,
.en .words-lang-en {
    display: inline-block;
}
