<!DOCTYPE html>
<html lang="en" ng-app="TYV">
<head>
    <meta charset="utf-8">
    <title>Протестируй словарный запас</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="common.css">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Протестируй свой словарный запас<br>
                <small>Сколько слов русского языка ты знаешь?</small></h1>
        </div>
        <div class="callout callout-primery">
            <p>Укажи те слова, у которых знаешь хотя бы одно значение. Не указывай слова, которые встречал, но в значении сомневаешься.</p>
        </div>
        <div ng-controller="StepsController">
            <p><input type="text" placeholder="Фильтровать слова" class="form-control" ng-model="query"></p>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Шаг 1 из 3</a></li>
            </ul>
            <ul class="list-unstyled">
                <li ng-repeat="word in words | filter: query">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> {{ word }}
                        </label>
                    </div>
                </li>
            </ul>
            <p>Всего слов: {{ words.length }}</p>
            <p><button type="button" class="btn btn-primary">Далее</button></p>
        </div>
    </div>

    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="libs/angular/angular.js"></script>
    <script src="js/controllers.js"></script>

</body>
</html>
