<!DOCTYPE html>
<html lang="en" data-ng-app="TYV">
<head>
    <meta charset="utf-8">
    <title>Протестируй словарный запас</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="common.css">
</head>
<body>
    <div class="container">
        <ng-include src="'headerView'"></ng-include>
        <ng-view></ng-view>
    </div>

    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/lodash/dist/lodash.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-route/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/StepsController.js"></script>
    <script src="js/ResultController.js"></script>
    <script src="js/storage.js"></script>

    <script type="text/ng-template" id="headerView">
        <div class="page-header">
            <h1>Протестируй свой словарный запас<br>
                <small>Сколько слов русского языка ты знаешь?</small></h1>
        </div>
    </script>

    <script type="text/ng-template" id="stepsView">
        <div class="callout callout-primery">
            <p>Укажи те слова, у которых знаешь хотя бы одно значение.
            Не указывай слова, которые встречал, но в значении сомневаешься.</p>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Шаг {{ step }} из {{ stepsCount }}</a></li>
        </ul>
        <ul class="list-unstyled words">
            <li class="word" data-ng-repeat="word in words">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-ng-model="word.checked">{{ word.value }}
                    </label>
                </div>
            </li>
        </ul>
        <p>
            <a data-ng-click="controller.calcStep()" class="btn btn-primary">
                <span data-ng-show="nextStep">Далее</span>
                <span data-ng-show="!nextStep">Узнать результат</span>
            </a>
        </p>
    </script>

    <script type="text/ng-template" id="resultView">
        <div data-ng-show="knownWords">
            <p data-ng-show="!isCheating">Твой результат: {{ knownWords }} русских слов</p>
            <p data-ng-show="isCheating">Были отмечены слова, которые в действительности не существуют! Попробуй пройти тест еще раз</p>
        </div>
        <p><a href="#/">Перейти на главную страницу</a></p>
    </script>
</body>
</html>
